tools/sim/op_script/__pycache__
cereal/__pycache__
tools/lib/__pycache__
tools/sim/__pycache__
selfdrive/controls/lib/__pycache__
selfdrive/hardware/tici/__pycache__
selfdrive/hardware/eon/__pycache__
selfdrive/hardware/__pycache__
selfdrive/__pycache__
common/__pycache__
selfdrive/controls/__pycache__
cereal/messaging/__pycache__
tools/__pycache__
selfdrive/manager/__pycache__
cereal/__pycache__
cereal/messaging/__pycache__
*/__pycache__

selfdrive/manager/tmp_error_log.txt
tools/sim/data_folder
tools/sim/op_script/demos
tools/sim/op_script/tmp.py
tools/sim/op_script/tmp_error_log.py
tools/sim/op_script/rerun_op
tools/sim/op_script/run_results_op
tools/sim/op_script/rerun_folder
tools/sim/op_script/rerun_folder_backup
tools/sim/op_script/visualize
tools/sim/op_script/*.pdf
tools/sim/op_script/*.txt
tools/sim/op_script/visualization
